{% extends 'base.html.twig' %}

{% block title %}Bibliotheque - Ma Bibliotheque BD{% endblock %}

{% block body %}
<div {{ stimulus_controller('library', { isWishlist: false }) }}>
    <div class="page-header">
        <h1>Ma Bibliotheque</h1>
        <p class="text-subtitle" {{ stimulus_target('library', 'count') }}>{{ comics|length }} serie(s)</p>
    </div>

    {% include 'components/_filters.html.twig' with {
        route: 'app_home',
        currentType: currentType,
        currentStatus: currentStatus,
        currentNas: currentNas,
        currentSort: currentSort,
        currentSearch: currentSearch,
        types: types,
        statuses: statuses
    } %}

    <turbo-frame id="comics-list" {{ stimulus_target('library', 'results') }}>
        {% if comics|length > 0 %}
            <div class="cards-grid">
                {% for comic in comics %}
                    {% include 'comic/_card.html.twig' with {comic: comic, showToLibrary: false} %}
                {% endfor %}
            </div>
        {% else %}
            <div class="empty-state">
                <p>Aucune serie trouvee.</p>
            </div>
        {% endif %}
    </turbo-frame>
</div>
{% endblock %}
