.ddev/
.env.local
.env.*.local
.env.prod
.git/
.gitignore
.idea/
.php-cs-fixer.cache
docker/nginx/
docker-compose*.yml
Dockerfile
node_modules/
phpstan-baseline-new.neon
phpunit.xml
public/bundles/
README.md
rector.php
tests/
var/
vendor/
