parameters:
	ignoreErrors:
		-
			message: '#^Property App\\Entity\\Author\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Author.php

		-
			message: '#^Property App\\Entity\\ComicSeries\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/ComicSeries.php

		-
			message: '#^Property App\\Entity\\Tome\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Tome.php

		-
			message: '#^Method App\\Entity\\User\:\:getRoles\(\) should return list\<string\> but returns non\-empty\-array\<int\<0, max\>, string\>\.$#'
			identifier: return.type
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Method App\\Entity\\User\:\:getUserIdentifier\(\) should return non\-empty\-string but returns string\.$#'
			identifier: return.type
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Property App\\Entity\\User\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Call to protected method getEntityManager\(\) of class Doctrine\\ORM\\EntityRepository\<App\\Entity\\Author\>\.$#'
			identifier: method.protected
			count: 2
			path: src/Form/AuthorAutocompleteType.php

		-
			message: '#^Class App\\Form\\AuthorAutocompleteType extends generic class Symfony\\Component\\Form\\AbstractType but does not specify its types\: TData$#'
			identifier: missingType.generics
			count: 1
			path: src/Form/AuthorAutocompleteType.php

		-
			message: '#^Parameter \#1 \$string of function trim expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Form/AuthorAutocompleteType.php

		-
			message: '#^Method App\\Repository\\ComicSeriesRepository\:\:findByStatus\(\) should return array\<App\\Entity\\ComicSeries\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/ComicSeriesRepository.php

		-
			message: '#^Method App\\Repository\\ComicSeriesRepository\:\:findWithFilters\(\) should return array\<App\\Entity\\ComicSeries\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/ComicSeriesRepository.php

		-
			message: '#^Method App\\Repository\\ComicSeriesRepository\:\:search\(\) should return array\<App\\Entity\\ComicSeries\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/ComicSeriesRepository.php

		-
			message: '#^Strict comparison using \!\=\= between null and bool will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Repository/ComicSeriesRepository.php

		-
			message: '#^Method App\\Tests\\Behat\\Context\\PantherContext\:\:setMinkParameters\(\) has parameter \$parameters with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Behat/Context/PantherContext.php

		-
			message: '#^Parameter \#1 \$options of class Behat\\Mink\\Driver\\PantherDriver constructor expects array, Symfony\\Component\\Panther\\Client given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Behat/Context/PantherContext.php

		-
			message: '#^Parameter \#1 \$kernel of class Symfony\\Bundle\\FrameworkBundle\\Console\\Application constructor expects Symfony\\Component\\HttpKernel\\KernelInterface, Symfony\\Component\\HttpKernel\\KernelInterface\|null given\.$#'
			identifier: argument.type
			count: 6
			path: tests/Command/CreateUserCommandTest.php

		-
			message: '#^Parameter \#1 \$kernel of class Symfony\\Bundle\\FrameworkBundle\\Console\\Application constructor expects Symfony\\Component\\HttpKernel\\KernelInterface, Symfony\\Component\\HttpKernel\\KernelInterface\|null given\.$#'
			identifier: argument.type
			count: 15
			path: tests/Command/ImportExcelCommandTest.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 2
			path: tests/Controller/ApiControllerTest.php

		-
			message: '#^Cannot access offset ''error'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 6
			path: tests/Controller/ApiControllerTest.php

		-
			message: '#^Cannot access offset ''title'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: tests/Controller/ApiControllerTest.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 9
			path: tests/Controller/ApiControllerTest.php

		-
			message: '#^Parameter \#2 \$array of static method PHPUnit\\Framework\\Assert\:\:assertArrayHasKey\(\) expects array\<mixed\>\|ArrayAccess\<\(int\|string\), mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 22
			path: tests/Controller/ApiControllerTest.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: tests/Controller/ComicControllerTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Entity/UserTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertNull\(\) with null will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 2
			path: tests/Enum/ComicStatusTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertNull\(\) with null will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 3
			path: tests/Enum/ComicTypeTest.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: tests/Form/AuthorAutocompleteTypeTest.php

		-
			message: '#^Cannot access offset ''create'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Form/AuthorAutocompleteTypeTest.php

		-
			message: '#^Cannot access offset ''createOnBlur'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/Form/AuthorAutocompleteTypeTest.php

		-
			message: '#^Cannot call method first\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 5
			path: tests/Form/AuthorAutocompleteTypeTest.php

		-
			message: '#^Parameter \#1 \$object of method Doctrine\\Persistence\\ObjectManager\:\:remove\(\) expects object, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Form/AuthorAutocompleteTypeTest.php

		-
			message: '#^Parameter \#2 \$haystack of static method PHPUnit\\Framework\\Assert\:\:assertCount\(\) expects Countable\|iterable, mixed given\.$#'
			identifier: argument.type
			count: 6
			path: tests/Form/AuthorAutocompleteTypeTest.php

		-
			message: '#^Property App\\Tests\\Form\\AuthorAutocompleteTypeTest\:\:\$authorRepository \(App\\Repository\\AuthorRepository\) does not accept Doctrine\\ORM\\EntityRepository\<App\\Entity\\Author\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Form/AuthorAutocompleteTypeTest.php

		-
			message: '#^Property App\\Tests\\Repository\\AuthorRepositoryTest\:\:\$repository \(App\\Repository\\AuthorRepository\) does not accept Doctrine\\ORM\\EntityRepository\<App\\Entity\\Author\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Repository/AuthorRepositoryTest.php

		-
			message: '#^Property App\\Tests\\Repository\\ComicSeriesRepositoryTest\:\:\$repository \(App\\Repository\\ComicSeriesRepository\) does not accept Doctrine\\ORM\\EntityRepository\<App\\Entity\\ComicSeries\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: tests/Repository/ComicSeriesRepositoryTest.php

		-
			message: '#^Call to function method_exists\(\) with ''Symfony\\\\Component\\\\Dotenv\\\\Dotenv'' and ''bootEnv'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/bootstrap.php
