{% extends 'base.html.twig' %}

{% block title %}Modifier {{ comic.title }} - Ma Bibliotheque BD{% endblock %}

{% block body %}
<div class="page-header">
    <h1>Modifier: {{ comic.title }}</h1>
</div>

<div class="form-container">
    {% include 'comic/_flow_form.html.twig' %}
</div>
{% endblock %}
